/* #region Common */
:root
{
  --tobo-dark: #051831FF;
  --tobo-light: #D3D6DB;
  --tobo-page-bg: #f6f8f9FF;
  --tobo-ligher: #ffffffFF;
  --tobo-primary: #46ADF0;
  --tobo-goals-tag-bg: #9c73e5FF;
  --tobo-recruiting-tag-bg: #64C1A8;
  --tobo-sales-tag-bg: #B0C926;
  --tobo-mobile-tag-bg: #ed5f54FF;
  --tobo-website-tag-bg: #D963A0;
  --tobo-danger: #ED5F54;

}

/* design logo */

.contenitore_logo {
    padding-top: 1rem;
    padding-left: 0.5rem;
    margin: 1rem;
}

img {
    vertical-align: middle;
}
main{
    background-color: rgb(244, 236, 236);
}
.logo_text {
    font-weight: 600;
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1.5rem;

}

/* Design i button */
.button {
    padding-left: 3rem;
}

.ricerca_1 {
    background-color: #47adf1;
    border-radius: 0.4rem;
    color: white;
    font-weight: 300;
    border: lightskyblue;
    padding: 0.3rem;
}

.ricerca_2 {
    border-radius: 0.4rem;
    color: lightgray;
    font-weight: 100;
    border-color: rgba(215, 218, 221, 0.464);
    padding: 0.3rem;

    /* fine del design button */

}

/* style del contenitore */
.contenitore_main {
    padding: 6rem;
    margin: auto;
    padding-top: 1rem;
    width: 800px;
    border: 2px solid lightgray;
    background-color: white;
}

div {
    margin-left: 3rem;
}

/* i span colorati */

.quadrato_1 {
    background-color: #47adf1;
    border-radius: 5rem;
    color: white;
    font-size: small;
    padding: 0.3rem;
    margin-left: 1rem;
}

.quadrato_2 {
    background-color: #9f1066;
    border-radius: 5rem;
    color: white;
    font-size: small;
    padding: 0.3rem;
    margin-left: 1rem;
}

.quadrato_3 {
    background-color: #15d35e;
    border-radius: 5rem;
    color: white;
    font-size: small;
    padding: 0.3rem;
    margin-left: 1rem;
}

.quadrato_4 {
    background-color: #ea7f05;
    border-radius: 5rem;
    color: white;
    font-size: small;
    padding: 0.3rem;
    margin-left: 1rem;
}

.quadrato_5 {
    background-color: #f249a3;
    border-radius: 5rem;
    color: white;
    font-size: small;
    padding: 0.3rem;
    margin-left: 1rem;
}

.quadrato_6 {
    background-color: #77c60a;
    border-radius: 5rem;
    color: white;
    font-size: small;
    padding: 0.3rem;
    margin-left: 1rem;
}

/* fine span colorati *